@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.container {
  position: relative;
  width: 1440px;
  height: 5189px;
  font-family: Rubik;
  background: #ffffff;
}

.container-1 {
  position: relative;
  width: 1440px;
  height: 1506.28px;


}
.navbar {
  display: flex;
}
.logo {
  position: absolute;
  width: 111px;
  height: 36.23px;
  left: 150px;
  top: 50px;
  order: 1;
  flex: 1;
}
ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #4f5665;
}
.navbar-items-list {
  display: flex;
  order: 2;
  position: absolute;
  left: 436px;
  top: 23px;
  color: #4f5665;
}
.navbar-items-list > li {
  margin: 20px;
}
.navbar-items-buttons {
  display: flex;
}
.navbar-items-buttons > li {
  margin: 15px;
}
.signin {
  position: absolute;
  width: 53px;
  height: 19px;
  left: 1057px;
  top: 58.62px;


  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #0b132a;
}

.signup {
  position: absolute;
  width: 150px;
  height: 45px;
  left: 1140px;
  top: 45.62px;
  border-radius: 500px;
  border: 1px solid #f53855;
  background-color: #ffffff;
  cursor: pointer;
}
.text {
  width: 60px;
  height: 19px;


  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #f53855;
}
.about {
  display: flex;
}

.about-text {
  flex: 1;
  order: 1;
}
.about-text-1 {
  position: absolute;
  width: 555px;
  height: 140px;
  left: 150px;
  top: 206.77px;

  font-weight: 500;
  font-size: 50px;
  line-height: 70px;
  color: #0b132a;



}

.about-text-2 {
  font-weight: 400;
}

.about-text-3 {
  font-weight: 600;
}

.about-text-4 {
  position: absolute;
  width: 555px;
  height: 60px;
  left: 150px;
  top: 366.77px;



  font-size: 16px;
  line-height: 30px;
  color: #4f5665;
}

.about-text-button-1 {
  position: absolute;
  width: 250px;
  height: 60px;
  left: 150px;
  top: 476.77px;
  background-color: #f53838;
  color: white;
  border-radius: 10px;
  border: none;
  font-size: 16px;
  font-weight: bold;
  box-shadow: 8px 35px 40px -20px rgba(245, 56, 56, 0.7);
  cursor:pointer;
}

.about-image {
  flex: 1;
  order: 2;
}

.about-image-1 {
  position: absolute;
  width: 611.24px;
  height: 382.44px;
  left: 745.76px;
  top: 179.11px;
}
.stats1 {
  position: absolute;
  width: 1140px;
  height: 200px;
  left: 10.4vw;
  top: 664.55px;
  z-index: 1;

  border-radius: 10px;
}

.stats2 {
  position: absolute;
  width: 1068.84px;
  height: 189.22px;
  left: 185.58px;
  top: 717.35px;

  background: #0d1025;
  opacity: 0.06;
  filter: blur(114px);
  border-radius: 10px;
}
.userIcon {
  position: absolute;
  width: 55px;
  height: 55px;
  left: 241px;
  top: 737.05px;
  z-index: 2;
}

.statsDiv1 {
  position: absolute;
  width: 102px;
  height: 95px;
  left: 332.5px;
  top: 732.05px;
  z-index: 2;
}

.statsLabel11 {
  width: 65px;
  height: 30px;
  left: 332.5px;
  top: 732.05px;


  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  color: #0b132a;
}

.statsLabel12 {
  width: 102px;
  height: 60px;
  left: 332.5px;
  top: 767.05px;



  font-size: 20px;
  line-height: 30px;
  color: #4f5665;
}

.vertLine1 {
  position: absolute;
  width: 0px;
  height: 125.57px;
  left: 515.5px;
  top: 701.76px;
  z-index: 2;
  border: 2px solid #eeeff2;
  border-collapse: collapse;
}

.locationIcon {
  position: absolute;
  width: 55px;
  height: 55px;
  left: 628.5px;
  top: 737.05px;
  z-index: 2;
}
.statsDiv2 {
  position: absolute;
  width: 104px;
  height: 95px;
  left: 720px;
  top: 732.05px;
  z-index: 2;
}

.statsLabel21 {
  width: 62px;
  height: 30px;
  left: 720px;
  top: 732.05px;


  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  color: #0b132a;
}

.statsLabel22 {
  width: 104px;
  height: 60px;
  left: 720px;
  top: 767.05px;



  font-size: 20px;
  line-height: 30px;
  color: #4f5665;
}

.vertLine2 {
  position: absolute;
  width: 0px;
  height: 125.57px;
  left: 945.5px;
  top: 701.76px;
  z-index: 2;
  border: 2px solid #eeeff2;
}

.serverIcon {
  position: absolute;
  width: 55px;
  height: 55px;
  left: 1037px;
  top: 737.05px;
  z-index: 2;
}

.statsDiv3 {
  position: absolute;
  width: 101px;
  height: 95px;
  left: 1128.5px;
  top: 732.05px;
  z-index: 2;
}

.statsLabel31 {
  width: 66px;
  height: 30px;
  left: 1128.5px;
  top: 732.05px;


  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  color: #0b132a;
}

.statsLabel32 {
  width: 101px;
  height: 60px;
  left: 1128.5px;
  top: 767.05px;



  font-size: 20px;
  line-height: 30px;
  color: #4f5665;
}

.Illustration2 {
  position: absolute;
  left: 184.52px;
  top: 960.38px;
}

.img2 {
  width: 508.12px;
  height: 414.71px;
}

.heading2 {
  position: absolute;
  width: 383.41px;
  height: 100px;
  left: 862.12px;
  top: 1014.55px;



  font-weight: 500;
  font-size: 35px;
  line-height: 50px;


  color: #0b132a;
}

.desc2 {
  position: absolute;
  width: 427.88px;
  height: 60px;
  left: 862.12px;
  top: 1134.55px;




  font-size: 16px;
  line-height: 30px;


  color: #4f5665;
}

.vector1 {
  position: absolute;
  width: 24px;
  height: 24px;
  left: 862.12px;
  top: 1217.55px;
}

.point1 {
  position: absolute;
  width: 181px;
  height: 30px;
  left: 896.2px;
  top: 1214.55px;



  font-size: 14px;
  line-height: 30px;
  color: #4f5665;
}

.vector2 {
  position: absolute;
  width: 24px;
  height: 24px;
  left: 862.12px;
  top: 1262.55px;
}

.point2 {
  position: absolute;
  width: 140px;
  height: 30px;
  left: 896.2px;
  top: 1259.55px;




  font-size: 14px;
  line-height: 30px;


  color: #4f5665;
}

.vector3 {
  position: absolute;
  width: 24px;
  height: 24px;
  left: 862.12px;
  top: 1307.55px;
}

.point3 {
  position: absolute;
  width: 152px;
  height: 30px;
  left: 896.2px;
  top: 1304.55px;




  font-size: 14px;
  line-height: 30px;


  color: #4f5665;
}

.vector4 {
  position: absolute;
  width: 24px;
  height: 24px;
  left: 862.12px;
  top: 1352.55px;
}

.point4 {
  position: absolute;
  width: 206px;
  height: 30px;
  left: 896.2px;
  top: 1349.55px;




  font-size: 14px;
  line-height: 30px;


  color: #4f5665;
}
.container-2 {
  width: 1440.16px;
    height: 1032px;
    top: 1506.2px;
    background: #F8F8F8;

  }

.choosePlan {
  position: absolute;
  width: 383.41px;
  height: 50px;
  left: 528.3px;
  top: 1586.55px;


  font-weight: 500;
  font-size: 35px;
  line-height: 50px;
  text-align: center;
  color: #0b132a;
}

.packIns {
  position: absolute;
  width: 555px;
  height: 60px;
  left: 442.5px;
  top: 1656.55px;



  font-size: 16px;
  line-height: 30px;
  text-align: center;
  color: #4f5665;
}

.plan1 {
  position: absolute;
  width: 330px;
  height: 760px;
  left: 175px;
  top: 1776.55px;


  border: 2px solid #dddddd;
  box-sizing: border-box;
  border-radius: 10px;
}

.plan2 {
  position: absolute;
  width: 330px;
  height: 760px;
  left: 555px;
  top: 1776.55px;


  border: 2px solid #dddddd;
  box-sizing: border-box;
  border-radius: 10px;
}

.plan3 {
  position: absolute;
  width: 330px;
  height: 760px;
  left: 935px;
  top: 1776.55px;


  border: 2px solid #f53838;
  box-sizing: border-box;
  border-radius: 10px;
}

.freeImg {
  position: absolute;
  width: 144.9px;
  height: 165.37px;
  left: 92.55px;
  top: 79.63px;
}

.standardImg {
    position: absolute;
    width: 144.9px;
    height: 165.37px;
    left: 92.55px;
    top: 79.63px;
}

.premiumImg {
  position: absolute;
  width: 144.9px;
  height: 165.37px;
  left: 1027.55px;
  top: 1856.18px;
}

.freeplan {
  position: absolute;

  left: 124px;
  top: 275px;



  font-weight: 500;
  font-size: 18px;
  line-height: 30px;



  color: #0b132a;
}

.standardplan {
    position: absolute;

    left: 103.5px;
    top: 275px;



    font-weight: 500;
    font-size: 18px;

    color: #0b132a;
}
.premiumplan {
  position: absolute;
  width: 121px;
  height: 30px;
  left: 1039.5px;
  top: 2051.55px;


  font-weight: 500;
  font-size: 18px;
  line-height: 30px;


  text-align: center;

  color: #0b132a;
}
.network {
  position: absolute;
  width: 483.41px;
  height: 100px;
  left: 478.3px;
  top: 2686.55px;



  font-weight: 500;
  font-size: 35px;
  line-height: 50px;


  text-align: center;

  color: #0b132a;
}
.network1 {
  position: absolute;
  width: 555px;
  height: 60px;
  left: 442.5px;
  top: 2806.55px;




  font-size: 16px;
  line-height: 30px;


  text-align: center;

  color: #4f5665;
}
.hugeglobalimg {
    position: absolute;
    width: 1060px;
    height: 537.77px;
    left: 190px;
    top: 3022.36px;

}

.entertainment{
    display:flex;
    position: absolute;
width: 1135.64px;
height: 208.32px;
left: 120px;
top: 3595.93px;
}
.sponsored1{

    width:190px;
    height:60px;
    flex:1
}
.sponsored2{

    width:190px;
    height:60px;
    flex:1
}.sponsored3{

    width:190px;
    height:55px;

    flex:1;

}
.sponsored4{

    width:190px;
    height:60px;
    flex:1
}
.sponsored5{

    width:160px;
    height:50px;

    flex:1;
}
.entertainment > img {
    margin: 30px;
  }
  .customer{
    position: absolute;
    width: 447.81px;
    height: 100px;
    left: 496.1px;
    top: 3854.25px;



    font-weight: 500;
    font-size: 35px;
    line-height: 50px;


    text-align: center;

    color: #0B132A;
  }
  .customer1{
    position: absolute;
    width: 555px;
    height: 60px;
    left: 442.5px;
    top: 3974.25px;




    font-size: 16px;
    line-height: 30px;


    text-align: center;

    color: #4F5665;

  }
  .mycard{
    position: absolute;
    width: 1140px;
    height: 200px;
    left: 10.4vw;
    top: 664.55px;
    z-index: 1;

    border-radius: 10px;
}
.fvector1{


position: absolute;
left: 75.12px;
top: 345px;

}

.fvector2{


position: absolute;
left: 75.12px;

top: 385.66px;


}
.fvector3{


position: absolute;
left: 75.12px;

top: 425.66px;


}
.fvector4{

position: absolute;
left: 75.12px;

top: 465.66px;


}
.fp1{
    position: absolute;
width: 138px;
height: 30px;
left: 113.13px;
top: 335px;




font-size: 14px;
line-height: 30px;



color: #4F5665;

}
.fp2{
    position: absolute;
width: 117px;
height: 30px;
left: 113.13px;
top: 375px;




font-size: 14px;
line-height: 30px;



color: #4F5665;
}
.fp3{
    position: absolute;
width: 106px;
height: 30px;
left: 113.13px;
top: 415px;




font-size: 14px;
line-height: 30px;



color: #4F5665;
}
.fp4{
    position: absolute;
width: 140px;
height: 30px;
left: 113.13px;
top: 455px;




font-size: 14px;
line-height: 30px;



color: #4F5665;

}
.svector1{
  position: absolute;
  left: 57.4px;
  top: 345px;
}
.svector2{
position: absolute;
top:385.66px;
left: 57.4px;
}
.svector3{
  position: absolute;
  top: 425.66px;
  left:57.23px;
}
.svector4{
  position: absolute;
  top: 465.66px;
  left:57.23px;
}
.sp1{
  position: absolute;
width: 150px;
height: 30px;
left: 95.13px;
top: 335px;


font-size: 14px;
line-height: 30px;



color: #4F5665;
}
.sp2{
  position: absolute;
width: 150px;
height: 30px;
left: 95.13px;
top: 375px;




font-size: 14px;
line-height: 30px;



color: #4F5665;
}
.sp3{
  position: absolute;
width: 106px;
height: 30px;
left: 95.13px;
top: 415px;




font-size: 14px;
line-height: 30px;



color: #4F5665;
}
.sp4{
  position: absolute;
width: 200px;
height: 30px;
left: 95.13px;
top: 453px;




font-size: 14px;
line-height: 30px;



color: #4F5665;

}

.svector5{
  position: absolute;
  top: 504px;
  left:57.27px;

}
.sp5{
position: absolute;
top: 494px;
left: 96.27px;
font-size: 14px;
line-height: 30px;
color: #4F5665;
}
.pvector1{
  position: absolute;
  left: 57.4px;
  top: 345px;
}
.pvector2{
  position: absolute;
  top:385.66px;
  left: 57.4px;
}
.pvector3{
  position: absolute;
  top: 425.66px;
  left:57.23px;
}
.pvector4{
  position: absolute;
  top: 465.66px;
  left:57.23px;
}
.pvector5{
position: absolute;
top: 505.66px;
left: 57.77px;
}
.pvector6{
  position: absolute;
  top: 545.66px;
  left: 57.77px;
}
.pp1{
position: absolute;
width: 200px;
height: 30px;
left: 95.13px;
top: 335px;
font-size: 14px;
line-height: 30px;
color: #4F5665;
}
.pp2{
  position: absolute;
width: 200px;
height: 30px;
left: 95.13px;
top: 375px;




font-size: 14px;
line-height: 30px;



color: #4F5665;
}
.pp3{
  position: absolute;
width: 200px;
height: 30px;
left: 95.13px;
top: 415px;




font-size: 14px;
line-height: 30px;



color: #4F5665;
}
.pp4{
  position: absolute;
width: 200px;
height: 30px;
left: 95.13px;
top: 453px;




font-size: 14px;
line-height: 30px;



color: #4F5665;
}
.pp5{
  position: absolute;
  top: 494px;
  left: 96.27px;
  font-size: 14px;
  line-height: 30px;
  color: #4F5665;
}
.pp6{
  position: absolute;
  top: 535px;
  left: 96.27px;
  font-size: 14px;
  line-height: 30px;
  color: #4F5665;
}
.premiumImg{
  position:absolute;
  top: 79.63px;
  left:92.55px;
}
.test{
  position: absolute;
width: 1353px;
height: 540.81px;
left: 59px;
top: 3854.25px;
}
.customer{
  position:absolute;
  top:0px;
}
.customer1{
  position:absolute;
  top: 120px;
}
.subscribe{
  position: absolute;
  width: 1140px;
  height: 233px;
  left: 150px;
  top: 4509.28px;
  background: white;

  border-radius: 10px;
  box-shadow: 0px 0px 10px 2px rgba(248,248,248, 248) ;
  z-index: 1;
}
.subscribebtn{
  position: absolute;
  width: 250px;
  height: 60px;
  left: 843px;
  top: 78px;
  background-color: #f53838;
  color: white;
  border-radius: 10px;
  border: none;
  font-size: 16px;
  font-weight: bold;
  box-shadow: 8px 35px 40px -20px rgba(245, 56, 56, 0.7);
  cursor:pointer;
}
.subscribetext{
  position: absolute;
width: 371.61px;
height: 80px;
left: 70px;
top: 58.5px;



font-weight: 500;
font-size: 35px;
line-height: 45px;


display: flex;
align-items: center;

color: #0B132A;

  width: 371.61px

}
.subscribetext1{
  position: absolute;
  top: 158.5px;
  left: 70px;
  position: absolute;
width: 410px;
height: 16px;





font-size: 16px;
line-height: 30px;


display: flex;
align-items: center;

color: #4F5665;

}
.footer{
  position: absolute;
width: 100%;
height: 563.12px;

top: 4625.78px;

background: #F8F8F8;

}
.logo2{

  width: 111px;
  height: 36.23px;

  flex:1;
}
.desc{




width: 340px;
height: 61.57px;


font-size: 16px;
line-height: 30px;

font-size: 16px;
line-height: 30px;



color: #4F5665;


flex:1;

}
.fb{


position: absolute;
top:147.81px;
left:-20px;
}
.twitter{
  position: absolute;
  top:147.81px;
  left:40.6px;
}


.insta{
  position: absolute;
  top:147.81px;
  left:101.2px;
}


.copywright{
  position: absolute;
width: 108px;
height: 30px;
left: 10px;
top: 200.41px;


font-size: 16px;
line-height: 30px;


text-align: center;

color: #AFB5C0;
}

.product{

position: absolute;
top: 183.12px;
left:720px;
display:flex;
flex-direction: column;
}
.pr{
  font-size: 16px;
  line-height: 30px;


  color: #4F5665;
}
.pr1{
  font-weight: 500;
font-size: 18px;
line-height: 30px;



color: #0B132A;
}
.product > a{
  margin:8px;
}

.engage{
  position: absolute;
  top:183.12px;
  left:920px;
  display:flex;
  flex-direction: column;
}
.eng{

font-size: 16px;
line-height: 30px;



color: #4F5665;
}
.eng1{
  font-weight: 500;
font-size: 18px;
line-height: 30px;



color: #0B132A;

}
.engage > a{
  margin:8px;
}
.earn{
  position: absolute;
  top: 183.12px;
  left:1149px;
  display: flex;
  flex-direction: column;
}
.earn > a{
  margin:8px;
}
.em{
  font-size: 16px;
line-height: 30px;



color: #4F5665;
}
.em1{
  font-weight: 500;
font-size: 18px;
line-height: 30px;



color: #0B132A;

}
.social{
  position: absolute;
  top:180px;
  left:150px;
  display: flex;
  flex-direction: column;
}
.free{
  position: absolute;
  top: 590px;
  left: 138px;
  font-weight: 500;
font-size: 25px;
line-height: 30px;


text-align: center;

color: #0B132A;
}
.freeselect{
  position: absolute;



  left: 89px;
  top: 665px;
  border-radius: 500px;

  background-color: white;
  cursor: pointer;


  width: 177.88px;
height: 45px;


border: 2px solid #F53838;
box-sizing: border-box;
border-radius: 50px;
}
.standardtext{
  position: absolute;
  top:590px;
  left:119px;
  font-weight: 500;
font-size: 25px;
line-height: 30px;



color: #0B132A;
}
.mo{
  color: #4F5665;
font-weight: lighter;
}
.btnselect{
  background: #f53855;
  position: absolute;



  left: 89px;
  top: 665px;
  border-radius: 500px;
  border: 2px solid #f53855;

  cursor: pointer;
  box-shadow: 5px 20px 50px 0px rgba(245, 56, 56, 0.7);


  width: 177.88px;
  height: 45px;


  background: #F53838;
  border-radius: 50px;




}
.selecttext{
  color: white;
  font-weight: bold;
font-size: 16px;
line-height: 19px;
}
.c{
  position: absolute;
  top: 300px;
  width: 100%;
}
